<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="footer-description text-center">
          <p>Polls App project for FCC fullstack</p>
          <p>by Anton Yakimenko, 2017</p>
        </div>
      </div>
    </div>
  </div>
</footer>