<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1>Not Found</h1>
    </div>
    <p>The page you are trying to reach is not available.</p>
  </div>
</div>