<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <ul class="list-group">
      {{#each polls}}
        <li class="list-group-item"><a href="/polls/{{this.id}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
