html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height + 20px for margin top!*/
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #2a2730;
  color: whitesmoke;
}

.footer-description {
  padding: 15px 0px 5px 0px;
}