<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="page-header">
      <h1>Start a new Poll</h1>
    </div>
    {{#if hasErrors}}
      <div class="alert alert-danger">
        {{#each messages}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
    <form action="/user/new-poll" method="post">
      <div class="form-group">
        <label for="poll-name">Poll name</label>
        <input type="text" name="poll-name" id="poll-name" class="form-control">
      </div>
      <div class="form-group">
        <label for="poll-options">Options:</label>
        <textarea class="form-control" name="poll-options" rows="10" id="poll-options"></textarea>
      </div>
      <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
      <button type="submit" class="btn btn-default">Create</button>
    </form>
  </div>
</div>
