<div class="page-header">
  {{#if fName}}
    <h1>{{fName}} {{lName}}</h1>
  {{else}}
    <h1>User Profile</h1>
  {{/if}}
</div>
<div class="row">
  <div class="col-md-5">
    <h4>Email: {{userEmai}}</h4>
  </div>
  {{!--Polls data--}}
  <div class="col-md-4 col-md-offset-1">
    <h2>My Polls</h2>
    {{#if sMessage}}
      <div class="alert alert-success">
        {{sMessage}}
      </div>
    {{/if}}
    {{#if eMessage}}
      <div class="alert alert-danger">
        {{eMessage}}
      </div>
    {{/if}}
    <form action="/user/delete" method="post">
      <ul class="list-group">
        {{#each polls}}
          <li class="list-group-item">
            <div class="clearfix">
              <label><a href="/polls/{{this.id}}" class="pull-left">{{this.name}}</a></label>
              <button type="submit" class="btn btn-default btn-sm pull-right" aria-label="Delete" name="pollId" value="{{this.id}}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </div>
          </li>
        {{/each}}
      </ul>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    </ul>
  </div>
</div>