<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Sign Up</h1>
    {{#if hasErrors}}
      <div class="alert alert-danger">
        {{#each messages}}
          <p>{{this}}</p>
        {{/each}}
      </div>
    {{/if}}
    <form action="/user/signup" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="fName">First Name</label>
        <input type="text" name="fName" id="fName" class="form-control">
      </div>
      <div class="form-group">
        <label for="lName">Last Name</label>
        <input type="text" name="lName" id="lName" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
      <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
