<div class="row">
  <div class="page-header">
      <h1>{{pollName}}</h1>
  </div>
  {{#if hasErrors}}
    {{#each messages}}
      <div class="alert alert-danger">
        {{this}}
      </div>
    {{/each}}
  {{/if}}
  <div class="col-md-2">
    <form action="/polls/{{pollId}}" method="post">
      {{#each pollOptions}}
        <div class="radio">
          <label><input type="radio" name="option" value="{{this._id}}" checked></input>{{this.name}}</label>
        </div>
      {{/each}}
      <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
      <button type="submit" class="btn btn-default">Vote!</button>
    </form>
  </div>
  <div class="col-md-8">
    {{#if showProgress}}
      {{#each progressBarsData}}
        <h3>{{this.name}}</h3>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:{{this.width}}%">
            <span class="sr-only">{{this.votes}}</span>
          </div>
        </div>
      {{/each}}
    {{/if}}
    <table class="table">
      <thead>
        <th>Option</th>
        <th>Votes</th>
      </thead>
      <tbody>
        {{#each pollOptions}}
          <tr>
            <td>{{this.name}}</td>
            <td class="vote">{{this.votes}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <h2>Add an extra option</h2>
    {{#unless isAuthenticated}}
      <p>please note that you should be signed in to do it. <a href="/user/signin">Sign in</a></p>
    {{/unless}}
    <form action="/polls/add-option" method="post">
      <input type="text" name="option" class="form-control" placeholder="Your option"><br>
      <input type="hidden" name="pollId" value="{{pollId}}"></input>
      <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
      <button type="submit" class="btn btn-default">Add</button>
    </form>
  </div>
</div>
